@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Use min-height instead of height to ensure content is visible on smaller screens */
    overflow: hidden;
    background-color: brown;
}

.container{
    display: flex;
    width: 90vw;
    flex-wrap: wrap; /* Allow panels to wrap to new line on smaller screens */
    justify-content: center; /* Center panels horizontally */
}

.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 12px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel img {
    border-radius: 50px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.panel h3{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    color: black;
    margin-left: 15px;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px){
    .container{
        width: 100vw;
    }

    /* Hide the 4th, 5th and 6th panel on smaller screens */
    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6) {
        display: none;
    }

    /* Adjust the flex-basis of the remaining panels to fill the available space */
    .panel {
        flex-basis: calc(50% - 24px);
    }
}
